<!--  views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="fr"> 
<head>
<link rel="steelsheet" href="/todolist_node/node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<% include ../partials/header %>



</body>



</html>